apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: radicale-proxy
  name: radicale-proxy
  namespace: radicale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radicale-proxy
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: radicale-proxy
    spec:
      containers:
        - image: nginx:alpine
          name: nginx
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: config
              mountPath: /etc/nginx
      volumes:
      - name: config
        configMap:
          name: radicale-proxy-config
      restartPolicy: Always 